div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(pink,cyan);
    cursor:pointer;
    transition: transform 200ms ease-in-out;
    margin: 50px ;
}

div:hover{
    transform: scale(2,2);
}

div:active{
    transform: scale(1,1);
}